<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta charset="utf-8">
    <title></title>
</head>

<body>
<!--Para se criar uma div container deve-se colocar a tag div cobrindo todas as outras que estão dentro de body-->

    <header>
            <div class="container">
                <div id="logo">
                <img src="logo.png" >
            </div>

            <div id="menu">
                <a href="#">Home</a> 
                <a href="#">Quem somos</a> 
                <a href="#">Serviços</a> 
                <a href="#">Fale conosco</a> 
            </div>
        </div>
    </header>

<div id="div_principal" >
  <div class="efeito">
    <div class="container">
        <h1>Primeira pagina</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed molestie tellus. Maecenas eu diam tempus, interdum lectus at, laoreet sapien. Nulla dui mauris, sodales egestas malesuada semper, gravida gravida tellus. Curabitur molestie, est ac condimentum condimentum, risus ligula efficitur augue, et condimentum diam ex in nulla. Integer elit tellus, vestibulum et dignissim nec, tincidunt id ipsum. Sed vehicula finibus tellus viverra rhoncus. Donec eu nulla libero. Donec sed purus ac ipsum consectetur posuere vel auctor elit. Aliquam vestibulum ullamcorper aliquet.
        </p>
    </div>
        </div>
            </div>  
    
<footer>Desenvolvido por Isaias Santos</footer>

</body>

</html>