<!DOCTYPE html>
<html lang="pt-br" charset="utf-8">

    <head>

        <title>table</title>

    </head>

    <body>
        
        <table>
            <tr>
                <th>Cabeçalho 1</th>
                <td>teste 1</td>
                <td>teste 2</td>
                <td>teste 3</td>
            </tr>
            <tr>
                <th>Cabeçalho 2</th>
                <td>teste 4</td>
                <td>teste 5</td>
                <td>teste 6</td>
            </tr>
        </table>

    </body>

</html>